# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.bak
*.o

#Quartus II files
db/*
graybox_tmp/*
incremental_db/*
output_files/*
signoise.run/*

db/
graybox_tmp/
incremental_db/
output_files/
signoise.run/

